@font-face {
    font-family: 'Itim-Regular';
    src: url('../../assets/fonts/Itim-Regular.ttf') format('truetype');
}

.titulo {
    font-family: 'Itim-Regular', sans-serif;
    font-weight: bold;
    color: rgb(141, 27, 141);
    font-size: 3pc;
    text-decoration: none;

}