<!DOCTYPE html>

<head>
  <meta charset="utf-8">
</head>


<div class="container">

    <ngx-spinner
    bdColor="rgba(208, 207, 208, 0.8)"
    template="<img src='../../assets/photos/load.gif' />"
  >
  Cargando
  </ngx-spinner>

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9 ">

      <div class="card o-hidden border-0 shadow-lg my-5 ">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row p-5">
            <div class="rounded col-lg-6 d-none d-lg-block bg-login-image " ></div>
            <div class="col-lg-6">

              <div class="p-5 tamanno_min_imagen_ppal ">
                <div class="text-center ">
                    <a class="titulo" href="index.html">
                        <h1>InventarioJS</h1>
                    </a>
                </div>


              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">{{ 'TITULO_LOGIN' | translate }}</h1>
              </div>
              
              <form class="user" [formGroup]="loginForm" (ngSubmit)="validarLogin()">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user"
                    [class.is-invalid]="
                    validarCampoObligatorio('login')
                  "
                        formControlName="login" maxlength="30" [class.is-invalid]="validarCampoObligatorio('login')"
                        placeholder="{{'INPUT_USUARIO' | translate }}">
                    <small *ngIf="validarCampoObligatorio('login')" class="text-danger">
                      {{ 'CAMPO_OBLIGATORIO' | translate }}
                    </small>
                </div>
                <div class="form-group">
                    <input type="password" 
                    [class.is-invalid]="
                            validarCampoObligatorio('clave')
                          "class="form-control form-control-user" maxlength="50" [class.is-invalid]="validarCampoObligatorio('clave')"
                      formControlName="clave" placeholder="{{'INPUT_CONTRA' | translate }}">
                    <small *ngIf="validarCampoObligatorio('clave')" class="text-danger">
                      {{ 'CAMPO_OBLIGATORIO' | translate }}
                    </small>
                </div>
              
                <button type="submit" class="btn btn-secondary btn-user btn-block">
                    {{ 'BOTON_LOGIN' | translate }}
                </button>
                <hr>
              </form>
              
              <div class="text-center">
                <button style="text-decoration: none;" routerLink="/registro" class="small btn bg-danger-subtle">{{ 'INPUT_Registro' | translate }}</button>

              </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>





  
  