@import 'bootstrap/scss/bootstrap';
@import '~@angular/cdk/overlay-prebuilt.css';


.titulo{
    font-family: 'lato';
    scr:url(./assets//fonts/NewAmsterdam-Regular.ttf);
    font-weight: bold;
    font-style: bold;

}
/* Importing Bootstrap SCSS file. */
